@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';
@import 'partials/header';
<<<<<<< HEAD
<<<<<<< HEAD
@import 'partials/singlerecipe';
<<<<<<< HEAD
=======
=======
@import 'partials/singlerecipe.scss';
>>>>>>> 5a83e3e (finished styling for single recipe)
@import 'partials/browseRecipes.scss';
@import 'partials/blogs.scss';
@import 'partials/singleBlog.scss';
@import 'partials/footer.scss';
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 36d844d (Updated register/login modal to fix some issues)
@import 'partials/accountModal.scss';
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
@import '~bootstrap/scss/bootstrap';
>>>>>>> 359a961 (added a Carousel)
=======
@import 'partials/carousel.scss';
<<<<<<< HEAD
>>>>>>> 60f80e3 (finished final changes to carousel)
=======
@import 'partials/recipeform.scss';
<<<<<<< HEAD
>>>>>>> 8772a7b (Added functionality to the recipe form)
=======
@import 'partials/userDropdown.scss';
>>>>>>> fbeb392 (Added dropdown to show instead of modal if a user is logged in)
=======
@import 'partials/slider.scss';
<<<<<<< HEAD
>>>>>>> bcb983f (Added global label style in main.scss. Added spice level slider styling and added a slider marker that marks the current value.)
=======
=======
>>>>>>> ef0ff8a (Removed spice level filter)
@import 'partials/featured.scss';
<<<<<<< HEAD
>>>>>>> 2767f67 (featured branch completed)
=======
@import 'partials/profile.scss';
>>>>>>> ab51bf9 (Added update recipe icon link functionality and added styling to icons)

<<<<<<< HEAD
$primary-orange: #C57D4A;
$background-light: #DB9C6F;
$primary-text: #F7F3E8;
>>>>>>> 013df98 (browse-all)
=======
@import 'partials/browseRecipes.scss';
>>>>>>> dc79d1b (Merged everything and added sushi image)

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
>>>>>>> d5bb1bb (Changed font from Quicksand to Poppins, and fixed the animation so that is goes all the way off the screen before resetting to its starting position.)

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $background-dark;
  color: $text-light;
  font-family: 'Poppins';
}

<<<<<<< HEAD
<<<<<<< HEAD
h1 {
  text-align: center;
  color: #f7f3e8;
  margin-top: 120px;
=======
=======
main {
  padding-top: 65px;

  @media (min-width: $tablet-width) {
    padding-top: 76.19px;
  }
}

h1 {
  text-align: center;
  color: #f7f3e8;
}

<<<<<<< HEAD
>>>>>>> 24681a0 (Separated header and menu and put them under a container so that the menu can show below the header in their own flow rather than overlapping each other or having to add any margin)
=======
a {
  color: $text-light;
  text-decoration: none;
}

>>>>>>> a541746 (Updated recipe images)
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff21;
  padding: 0.35rem 0.75rem;
  border-radius: 15px;
  font-size: 0.85rem;

  input {
    height: 16px;
    font-family: 'Poppins';
    border: none;
    background: none;
    color: $text-light;
    width: 22ch;
    &::placeholder {
      color: #f7f3e87f;
    }
    &:focus {
      outline: none;
    }
  }

  img {
    height: 16px;
  }
>>>>>>> 104d0d5 (Added new logo)
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

label {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 0.9rem;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 24px;
}