@import 'variables.scss';
@import 'partials/header';
<<<<<<< HEAD
<<<<<<< HEAD
@import 'partials/singlerecipe';
<<<<<<< HEAD
=======
=======
@import 'partials/singlerecipe.scss';
>>>>>>> 5a83e3e (finished styling for single recipe)
@import 'partials/browseRecipes.scss';
@import 'partials/blogs.scss';
@import 'partials/singleBlog.scss';
@import 'partials/animation.scss';
@import 'partials/footer.scss';

<<<<<<< HEAD
$primary-orange: #C57D4A;
$background-light: #DB9C6F;
$primary-text: #F7F3E8;
>>>>>>> 013df98 (browse-all)
=======
@import 'partials/browseRecipes.scss';
>>>>>>> dc79d1b (Merged everything and added sushi image)

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
>>>>>>> d5bb1bb (Changed font from Quicksand to Poppins, and fixed the animation so that is goes all the way off the screen before resetting to its starting position.)

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $background-dark;
  color: $text-light;
  font-family: 'Poppins';
}

<<<<<<< HEAD
h1 {
  text-align: center;
  color: #f7f3e8;
  margin-top: 120px;
=======
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff21;
  padding: 0.25rem 0.75rem;
  border-radius: 15px;

  input {
    height: 16px;
    font-family: 'Quicksand';
    border: none;
    background: none;
    color: $text-light;
    width: 18ch;
    &:focus {
      outline: none;
    }
  }

  img {
    height: 16px;
  }
>>>>>>> 104d0d5 (Added new logo)
}
